.page {
	padding: 20px;
	overflow-y: scroll;
}

.body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 20px;
	margin-top: 25px;
}

@media (max-width: 1200px) {
	.body {
		flex-direction: column;
	}
}
