.card {
	flex: 0 0 calc(25% - 12px); /* 4 карточки в ряд */
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.image {
	width: 100%;
	height: auto;
	cursor: pointer;
}

.text {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.like {
	position: absolute;
	top: 10px;
	right: 10px;
}
