.container {
	width: 100%;
}

.alert {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
}

.alertText {
	font-size: 15px;
	font-weight: 500;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
}
