.container {
	width: 100%;
}

.products {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
}

.alert {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
}

.alertText {
	font-size: 15px;
	font-weight: 500;
}
