.container {
	display: flex;
	flex-direction: column;
	flex: 0 0 calc(25% - 24px);
	gap: 14px;

	border-radius: 20px;
	overflow: hidden;

	transition: all 0.25s ease;
	cursor: pointer;
}

.container:hover {
	transform: translateY(-6px);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.image {
	width: 100%;
	height: 260px;
	object-fit: cover;
}

.content {
	padding: 0 8px 8px 8px;
}

.title {
	margin-top: 5px;
	font-size: 18px;
	font-weight: 600;
}

.description {
	font-size: 14px;
	color: #666;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.price {
	font-size: 18px;
	font-weight: 600;
	color: #1677ff;
}

.footer {
	margin-top: auto;
}
