.subheader {
	background: linear-gradient(
		to right,
		transparent 0%,
		rgba(225, 245, 255, 0.4) 20%,
		rgba(225, 245, 255, 0.6) 40%,
		rgba(225, 245, 255, 0.8) 60%,
		rgba(225, 245, 255, 0.9) 80%,
		rgba(225, 245, 255) 100%
	);
	margin-right: 15px;
	padding: 20px;
	border-radius: 20px;
}

.subheaderText {
	font-size: large;
	font-weight: 500;
}
