.body {
	display: flex;
	margin-top: 15px;
	justify-content: center;
	gap: 30px;
}

.images {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.description {
	/* position: fixed;  а потом еще медиа запросик для смены position при скролле */
	padding: 15px;
	min-width: none;
	max-width: 270px;
}

@media (max-width: 900px) {
	.page {
		overflow-y: scroll;
		height: 100vh;
	}
	.description {
		margin-left: 0;
	}

	.body {
		flex-direction: column;
		align-items: center;
	}
}
